<!DOCTYPE html>
<html>
  <head>
    <title>Stuff Fo Ya Dorm</title>
    <link rel="stylesheet" href="style/style.css">
  </head>
      <body style ="background-color:#6f030a;color:#6f030a;font-family: Impact, Charcoal, sans-serif;">
        <div class="center-me">
          <div id="header" style="background-color:#ffedc4;">
              <h1 style="font-size: 100px;margin: 15px;">RETRO REPUBLIC</h1>
              <h4>YOUR PERSONAL GUIDE TO GET THAT RETRO GAMER FEEL</h4>
            <img class = "center-me" height ="300px" width="350px" src ='imgs/nes.jpg'>
            <img class = "center-me" height ="300px" width="350px" src ='imgs/pillow.jpg'>
            <img class = "center-me" height ="300px" width="350px" src ='imgs/space.jpg'>
          </div>
          <div id="links">
            <a class="link" href="https://www.thisiswhyimbroke.com/nintendo-controller-coffee-table/">NES-TABLE</a>
            <a class="link" href="https://awesomestufftobuy.com/nes-cartridge-pillows/">CARTRIDGE-PILLOW</a>
            <a class="link" href="https://www.thisiswhyimbroke.com/space-invaders-couch/">INVADERS-COUCH</a>

          </div>
        </div>
      </body>
      <div id="sum">
       vKHSJDV HKJBV
      </div>
</html>
